.minContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}
button {
  cursor: pointer;
  background-color: #8cc28e;
  color: white;


}

.show {
  display: block;
}
.hide {
  display: none;
}

